---
import BaseLayout from '../layout/BaseLayout.astro';
---

<BaseLayout pageTitle="Guillaume Gandolfi - Développeur Web Freelance au Québec">
  <h1>Bienvenue sur mon site !</h1>
  <p>Ceci est la page d'accueil.</p>
</BaseLayout>
