---
import '../styles/global.css';
import Header from '../components/Header.astro';
const { pageTitle } = Astro.props;
---

<html lang="fr" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
    <meta name="description" content="Bienvenue sur le site de Guillaume Gandolfi, développeur web freelance. Découvrez mes services et mes projets." />
    <script>
      document.documentElement.classList.replace('no-js', 'js');
    </script>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
